* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: wheat;
}

#grid {
  display: grid;
  grid-template-columns: repeat(15,1fr);
  grid-template-rows: repeat(15,1fr);
}

.note {
  border: 1px solid black;
}
