* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: whitesmoke;
}


body {
  width:95%;
  margin: 0 auto;
}

#grid {
  display: grid;
  grid-template-columns: repeat(15,1fr);
  grid-template-rows: repeat(6,1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;

}

.note {
  display: flex;
  padding: .3rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.note--keyOne {
  background-image: linear-gradient(to bottom,#fdfcfb66,#e2d1c366);
  box-shadow: 4px 4px 6px rgba(0,0,0,.3);
}

.note--keyTwo {
  background-image: linear-gradient(to top,#0000ff33,#f5efef66);
  box-shadow: 4px 4px 6px rgba(0,0,0,.3);
}

.note-namenote--keyOneTonic {
  color: red;
  text-shadow: 0px 0px 7px red;
}
.note-name {
  font-size: 1.1rem;
  font-weight: bolder;
  color: maroon;
}
.note-number {
  font-size: 0.8rem;
}
